#jumb{
    text-align:center;
    margin-bottom: 50px
}

#but{
    text-align: center;
}

button{
    justify-content: space-around
}

.jumbotron{
   
    border-radius:0%;

}



#side{
    background-color: beige;
    margin-top: 0;
    
}




#secondPart .col-md-4{
    text-align: center;
    width:200px
}

#img1{
    height:460px;
    width:300px
}

#secondPart p{
    color:grey
}

#secondPart h1{
    color:grey
}
